BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
BANK 4 VCCIO 3.3 V;
BANK 5 VCCIO 3.3 V;

IOBUF PORT "clk_25MHz" IO_TYPE=LVCMOS33;
IOBUF PORT "pll_lock"  IO_TYPE=LVCMOS33;

LOCATE COMP "clk_25MHz" SITE "3";
LOCATE COMP "pll_lock"  SITE "33";

MAXDELAY FROM ASIC "clk_manager/pll_clk_100MHz/PLLInst_0" PIN "CLKOP" TO CELL "clk_manager/lock_100MHz_meta_r_9" 40.0 ns;
